<p>ALL THE ANSWERS</p>
<form id="post_comments" method="post" action="/comments">
  <label for="answer">Answer</label><br>
  <textarea rows="10" cols="50" name="comment[comment]" placeholder="Answer the question"></textarea><br>
  <input type="submit" value="Ask a question">
</form>
