<li><a href="/questions/<%= question.id %>"><%= question.title %></a><form action="/questions/<%= question.id %>/votes" method="get">
<input type="submit" value="vote">
</form><%= question.votes.count %></li><br>
