<button class="fa fa-thumbs-o-up up-vote-button vote-button" name="upVote" type="submit"></button>
<button class="fa fa-thumbs-o-down down-vote-button vote-button" name="downVote" type="submit"></button>
