<% if logged_in? %>
  <% if has_voted?(post) %>
    <button class="fa fa-thumbs-o-down down-vote-button vote-button" name="status" value=<%= display_vote_option(post) %> type="submit"></button>
  <% else %>
    <button class="fa fa-thumbs-o-up up-vote-button vote-button" name="status" value="upvote" type="submit"></button>
    <button class="fa fa-thumbs-o-down down-vote-button vote-button" name="status" value="downvote" type="submit"></button>
  <% end %>
<%else%>
  <i class="fa fa-thumbs-o-up up-vote-button vote-button"></i>
  <i class="fa fa-thumbs-o-down down-vote-button vote-button"></i>
<% end %>
