<h1>All the Questions!</h1>

<div class="question-list">
  <% if @questions %>
    <% @questions.each do |question| %>
      <%= erb :'questions/_questions_box', locals: {question: question} %>
    <% end %>
  <% end %>
</div>
