<h1>All the Questions!</h1>
<div >
<ul class="question-list">
  <% if @questions %>
    <% @questions.each do |question| %>
    <%= erb :'questions/_questions', locals: { question: question }%>

    <% end %>
  <% end %>
</ul>
</div>
<% if logged_in? %>
  <%= erb :'questions/_new' %>
<% else %>
  <p><b>Please <a href="/users/login">log in</a> to post a question.</b></p>
<% end %>
