<form id="ask_questions" method="post" action="/questions">
  <input type="hidden" name="user[id]" value="<% current_user.id%>">
  <input type="text" name="question[title]" placeholder="Question Title">
  <input type="text" name="question[ques]">

</form>
