<form id="ask_questions" method="post" action="/questions">
  <input type="hidden" name="user[id]" value="">
  <input type="text" name="question[title]" placeholder="Question Title">
  <input type="text" name="question[content]" placeholder="Explain your problem">
  <input type="submit" value="Ask a question">
</form>
