body {
  background-color: #ffffff;
  font-family: Verdana;
}

body a:link {
  text-decoration: none;
}

.login-box {
  display: none;
}

.star-button {
  background-color: transparent;
  border: none;
  padding-top: 5px;
  color: #8C8C8C;
  vertical-align: sub;
  padding: 1px 0px 0px 0px;
}
.author {
  color: #8c8c8c;
  font-style: italic;
}

.vote-button {
  background-color: transparent;
  border: none;
  padding-top: 5px;
  color: #8C8C8C;
  vertical-align: sub;
  padding: 1px 0px 0px 0px;
}

.vote-count {
  color: #8c8c8c;
}
.logo {
  width: 10%;
  display: inline-block;
  vertical-align: middle;
}

.header-text {
  font-size: 40px;
  font-weight: bold;
  color: #000000;
  display: inline-block;
}

nav {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #34a9c7;
    display: flex;
}

nav ul li {
  border-right: 1px solid #ffffff;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #175869;
}

.active {
  background-color: #175869;
}

.username {
  font-weight: bold;
}

.body-container {
  width: 70%;
  margin: 200px auto 20px;
}

.question-header h1 {
  font-size: 20px;
  padding: 10px 0 0;
}

.question-header h2 {
  font-size: 15px;
  border-bottom: 1px solid #34a9c7;
  padding: 0 0 10px;
  font-weight: normal;
}

.profile-list {
  display: inline-block
}
