<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>

  <header>
    <h1>Stack Overflow</h1>
    <nav>
      <% if logged_in? %>
        <a href="/users/<%= current_user.id %>/profile"><%= current_user.username %></a> |
        <a href="/users/logout">logout</a> |
      <% else %>
        <a href="/users/register">register</a> |
        <a href="/users/login">login</a> |
      <% end %>
      <a href="/questions">questions</a> |
      <a href="/questions/new">new questions</a> |
      <a href="/">home</a>
    </nav>
  </header>

  <%= yield %>
</body>
</html>
