<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>

  <header>

    <nav>
      <a href="/"><img class="logo" src="/images/wolf-logo.png"><div class="header-text">JALlyBoards</div></a>
      <ul>
      <% if logged_in? %>
        <li class="username"><a href="/users/<%= current_user.id %>/profile"><%= current_user.username %></a> </li>
        <li><a href="/users/logout">logout</a></li>
      <% else %>
        <li><a href="/users/register">register</a> </li>
        <li><a href="/users/login">login</a></li>
      <% end %>
      <li><a href="/questions">questions</a></li>
      <li><a href="/questions/new">new questions</a></li>
      <li><a href="/">home</a></li>
    </nav>
  </header>
<div class="body-container">
  <%= yield %>
</div>
</body>
</html>
